
html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 280px;
  background: #dadada url('../css/images/back.jpg') top no-repeat;
  background-position: -100px 40px; 

}

h1,h2,h3,h4 {
	text-transform:uppercase;

}

li {
 list-style: none;
}

ul {
padding: 0;
}

a {
color:#5CB85C;
}

.page {
	width: 100%;
	margin: 20px 0;

}

::selection {
  background: #ccefa4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.navbar-inverse  .navbar-brand {
	font-weight: 500;
	font-size: 24px;
	color: #ffffff;

}

.navbar-brand {width: 300px;height: 100px;margin-top: -20px;}
.navbar {
    border-radius: 0px;
	padding-top: 20px;
  }

  .navbar .dropdown-menu span {
  	margin: 0 5px 0 0;
  }

.login {
	margin: 10px 0;
	background-color: #000;
	outline: #95c85f;
}

.login:hover {
	background-color: #000;
	outline: #95c85f;
}

.login:hover.active {
	background-color: #000;


}

.login:active {
	background-color: #000;

}

.radio .panel .panel-heading {
	padding-left: 30px;
}



.panel {
  margin-bottom: 22px;
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #eeeeee), color-stop(0.25, #eeeeee), color-stop(0.25, #eeeeee), color-stop(0.5, #e6e6e6), color-stop(0.5, #eeeeee), color-stop(0.75, #eeeeee), color-stop(0.75, #e6e6e6));
	background-image: -webkit-linear-gradient(left bottom, #eeeeee 0%, #eeeeee 25%, #e6e6e6 25%, #e6e6e6 50%, #eeeeee 50%, #eeeeee 75%, #e6e6e6 75%);
	background-image: -moz-linear-gradient(left bottom, #eeeeee 0%, #eeeeee 25%, #e6e6e6 25%, #e6e6e6 50%, #eeeeee 50%, #eeeeee 75%, #e6e6e6 75%);
	background-image: -ms-linear-gradient(left bottom, #eeeeee 0%, #eeeeee 25%, #e6e6e6 25%, #e6e6e6 50%, #eeeeee 50%, #eeeeee 75%, #e6e6e6 75%);
	background-image: -o-linear-gradient(left bottom, #eeeeee 0%, #eeeeee 25%, #e6e6e6 25%, #e6e6e6 50%, #eeeeee 50%, #eeeeee 75%, #e6e6e6 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e6e6e6',GradientType=0 ); / IE6-8 */
	background-image: linear-gradient(left bottom, #eeeeee 0%, #eeeeee 25%, #e6e6e6 25%, #e6e6e6 50%, #eeeeee 50%, #eeeeee 75%, #e6e6e6 75%);
	background-size: 10px 10px;

  border: 1px solid #999;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px #333;
}



.bg-info { 
	background-color:transparent;
	padding-top: 5px;
	margin-top: -5px;
	border-top: 1px solid #aaa;
}

h1 small {
	font-weight: 500;
	color: #555;
}

.progress {
  height: 22px;
  border-radius: 0px;
  margin-bottom: 50px;
  margin-top: -7px;
  background-color: #9c9c9c;
}

.progress-bar {
	text-align: left;
	padding-left: 5px;
	background-color: #95c85f;

}

.btn h4 {
	margin: 0 0 0 0;
}

.sto-proress /* NEW */ {
	margin-top: 45px;
}
.radio-panel  /* NEW */ {
	padding-left: 0px;
}

.quote-title /* NEW  */ {
	color: #333;
	padding-bottom: 10px;
}

.list-grid span/* NEW */ {
	display: block;
	float:left;
	width: 22px;
	margin-bottom:20px;
	font-weight: bold;
	font-size: 20px;
	padding-top: 5px;
}

.list-grid div /* NEW */ {
	font-size: 20px;
	font-weight: 500;
	line-height: 22px;
	padding-top: 8px;
	padding-bottom:6px;
}

.sto-footer  /* NEW */ {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 180px;
	padding: 40px 0px 60px 0px;
	background: url('./images/grad-down.png') top repeat-x;
	
	border-top: 1px solid #aaa;
	color: #555;
}

.form-pad /* NEW */ {
	margin-bottom: 10px;
}

.mast-head /* NEW */ {
	position: relative;
	padding: 30px 15px 0px 15px;
	color: #444;
	background: url('./images/grad-up.png') bottom repeat-x;
	
}

.step-buttons /* NEW */ {
	margin-top: 20px;
}

.current-step /* NEW */ {
	background-color: #444;
	color: #a8d46c;
	letter-spacing: 0.5px;
	height: 58px;
}

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}



.trash {
	text-align: center;
	color: #555;
	display: block;
}

.replicate {
	text-align: center;
    color: #555;
}

@media only screen and (max-width: 767px) {
	.trash {text-align: left !important;}
	.replicate {text-align: left !important;}

}

.open {
}

.created {
}


.closed {
	color: #F0AD4E;
}

.glyphicon-chevron-right {
	margin: 0 0 0 5px;
}

.glyphicon-chevron-left {
	margin: 0 5px 0 0;
}

.panel-title {
	margin: 0;

}

.text {
padding: 20px;
color: #7f8c8d;
}

.bs-wizard {margin-top: 40px;}


.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

legend {
  font-family:'Univers W02';
  font-style:normal;
  font-weight:500;
  font-size: 35px;
}

.control-label {
  font-family:'Univers W02';
  font-style:normal;
  font-weight:500;
  font-size: 25px;
  color: #6f6f6f;
}


.help-block {
	 font-family:'Univers W02';


}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.text-centered {
    text-align: center;
}

.bom {
}

.bom .contact {
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: 2px black solid;
}

.content {
    padding: 20px 0;
}   

.bom-table {
background: #d4d4d4;
outline: black 1px;
}

.bom-table tr {
}

.bom-table th {
    color: #383838;
    font-size: 1.2em;
}


.table-title {
padding: 5px;
text-align: left;
}


table th {background: #555;color: white; }
table td, table th { padding: 9px 10px; text-align: left; }
.table-wrapper {margin-bottom: 15px; }

/* Mobile */
@media only screen and (max-width: 767px) {
   
   table.responsive { margin-bottom: 0; }
   
   .table-wrapper th {-webkit-box-shadow: 0px 0 2px 0px #888; box-shadow: 0px 0 0px 0px #888 !important;}
   
   .pinned { position: absolute; left: 0; top: 0; width: 30%; overflow: hidden; overflow-x: scroll; -webkit-box-shadow: 5px 0 2px -2px #888; box-shadow: 5px 0 2px -2px #888;
   }
   .pinned table { border-right: none; border-left: none; width: 100%; }
   .pinned table th, .pinned table td { white-space: nowrap; }
   .pinned td:last-child { }
   
   div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden;}
   div.table-wrapper div.scrollable { margin-left: 30%; }
   div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }   
   
   table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
   table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
   
   
}

.page-alerts {
    margin-bottom: 20px;
}

.page-alerts .page-alert {
    border-radius: 0;
    margin-bottom: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}